@model IEnumerable<WBH.Models.Product>
@using WBH.Helpers

@{
    ViewBag.Title = "ClothesList";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" />

<main>
    <section class="slides">
        <img src="~/Content/Img/BannerHome.png" alt="Banner quảng cáo" class="slide" style="width: 100%;" />
        <img src="~/Content/Img/BannerHome1.png" alt="Banner quảng cáo" class="slide" style="width: 100%;" />
    </section>

    <section class="section-home">
        <div class="container">
            <h1>Quần Áo</h1>

            <form method="get" action="@Url.Action("ClothesList", "Products")" class="sortby">
                <label>Sắp xếp:</label>
                <select name="sortOrder" onchange="this.form.submit()">
                    <option value="">-- Sắp xếp --</option>
                    <option value="price_asc">Giá tăng dần</option>
                    <option value="price_desc">Giá giảm dần</option>
                    <option value="name_asc">Tên A → Z</option>
                    <option value="name_desc">Tên Z → A</option>
                </select>
            </form>

            <div class="product">
                <div class="product-list">
                    <div class="product-grid">
                        @foreach (var item in Model)
                        {
                            <div class="product-card" data-category="@item.Category">
                                <div class="product-image">
                                    <a href="@Url.Action("Details", "Products", new { id = item.IDProduct })">
                                        <img src="@Url.Content("~/Content/Img/" + item.Image)" alt="@item.ProductName" />
                                    </a>
                                    <span class="product-badge">@((item.IsSale) ? "Sale" : "Hàng Mới")</span>
                                    <div class="product-actions">
                                        <a class="ri-eye-fill" href="@Url.Action("Details", "Products", new { id = item.IDProduct })"></a>
                                        <button class="add-to-cart" data-id="@item.IDProduct">
                                            <i class="ri-shopping-cart-2-fill"></i>
                                        </button>

                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-name">@item.ProductName</h3>
                                    <p class="product-price">@SaleHelper.DisplayPrice(item.Price)</p>

                                    @if (ViewBag.IsAdmin == true)
                                    {
                                        <p class="product-quantity">Số lượng: @item.Quantity</p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>