<!DOCTYPE html>
<html>
<head lang="vi">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F4HCM STORE</title>
    <!--Css dùng chung toàn site-->
    <link href="@Url.Content("~/Content/remixicon.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Variables.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/WBH.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="header-logo">
                    <a href="@Url.Action("Home","WBH")">
                        <img src="@Url.Content("~/Content/Img/Logo1.png")" alt="Logo Thương Hiệu" />
                    </a>
                </div>
                <!-- bảng sản phẩm -->
                <div class="header-nav">
                    <nav class="navbar">
                        <ul>
                            <li><a href="@Url.Action("ProductList","Products")">Trang chủ</a></li>
                            <li>
                                <a href="@Url.Action("Sanpham","WBH")">Sản phẩm</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("CategoryProducts", "Products", new { category = "ao" })">Áo</a></li>
                                    <li><a href="@Url.Action("CategoryProducts", "Products", new { category = "quan" })">Quần</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Phukien","WBH")">Phụ kiện</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("CategoryProducts", "Products", new { category = "vo" })">Vớ</a></li>
                                    <li><a href="@Url.Action("CategoryProducts", "Products", new { category = "non" })">Nón</a></li>
                                    <li><a href="@Url.Action("CategoryProducts", "Products", new { category = "trangsuc" })">Trang sức</a></li>
                                </ul>
                            </li>
                            <li class="header-sale">
                                <a href="@Url.Action("Sale","Products")">
                                    <span class="sale-text">SALE</span>
                                    <span class="discount">-50%</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- thanh tìm kiếm -->
                <div class="header-search">
                    <input type="text" placeholder="Tìm Kiếm" />
                    <i class="ri-search-line"></i>
                </div>
                <!--icon login + giỏ hàng-->
                <div class="header-icons">
                    <div class="header-login">
                        @if (Session["AccountId"] != null)
                        {
                            <a href="@Url.Action("Logout","Login")" class="tooltip">
                                <i class="ri-user-fill icon"></i>
                                <span class="tooltip-text">Đăng xuất</span>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("DangNhap","Login")" class="tooltip">
                                <i class="ri-user-fill icon"></i>
                                <span class="tooltip-text">Đăng nhập</span>
                            </a>
                        }
                    </div>
                    <div class="header-giohang">
                        <a href="@Url.Action("Giohang","WBH")" class="tooltip">
                            <i class="ri-shopping-cart-2-fill icon"></i>
                            <span id="cart-count" class="cart-count">0</span>
                            <span class="tooltip-text">Giỏ hàng</span>
                        </a>
                        <!-- POPUP GIỎ HÀNG -->
                        <div class="cart-popup" id="cart-popup">
                            <h4>Giỏ hàng của bạn</h4>
                            <ul class="cart-items"></ul>
                            <div class="cart-total">
                                <strong>Tổng:</strong> <span id="total-price">0đ</span>
                            </div>
                            <div class="cart-buttons">
                                <button class="checkout">Thanh toán</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer-container">
            <!-- Giới thiệu -->
            <div class="footer-about">
                <h3>Giới thiệu</h3>
                <p>F4AE Store bán quần áo, phụ kiện giá rẻ.</p>
            </div>
            <!-- Liên hệ -->
            <div class="footer-contact">
                <h3>Liên Hệ</h3>
                <p><a href="mailto:maithanhdang060106@gmail.com">Email: maithanhdang060106@gmail.com</a></p>
                <p><a href="tel:0374482316">Điện thoại: 0374482316</a></p>
                <p>Địa chỉ: 81/3 Nguyễn Hồng Đào, Phường 14,Quận Tân Bình, TP.Hồ Chí Minh</p>
            </div>
            <!--Trang mạng xã hội-->
            <div class="footer-social">
                <a href="https://www.facebook.com/share/15pSjqhc9J/" target="_blank"><i class="ri-facebook-fill"></i></a>
                <a href="#" target="_blank"><i class="ri-instagram-line"></i></a>
                <a href="#" target="_blank"><i class="ri-tiktok-fill"></i></a>
                <a href="#" target="_blank"><i class="ri-youtube-fill"></i></a>
                <a href="https://github.com/ThanhDang06/WebBanHang4AE" target="_blank"><i class="ri-github-fill"></i></a>
            </div>
        </div>
    </footer>
    <script src="@Url.Content("~/Scripts/WBH.js")"></script>
</body>
</html>
